@CHARSET "ISO-8859-1";

.page {
  padding:20px;
  max-width:1000px;
  margin:auto auto;
  min-height:100%;
  position:relative;
 
}

table {
  width:100%;
  font-family:sans;
} th {
  background:#666;
  color:#fff;
} td {
  padding:5px;
}



